# Use PHP 8.2 instead of 8.3
<IfModule mime_module>
    AddHandler application/x-httpd-ea-php82 .php .php8 .phtml
</IfModule>

# Enable mod_rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
