# Disable directory listing
Options -Indexes

# Enable mod_rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect non-existing files and directories to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
